/* Global settings */
@import url(http://fonts.googleapis.com/css?family=Arimo);

* {
	margin:0px;
	padding:0px;
}

main, nav, header, section,div,aside,article {
	display:block;
}

body {
  font-family: 'Arimo', sans-serif;
}

ul {
	text-decoration: none;
	list-style-type: none;
}

a {
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}

#wrapper {
	width: 980px;
	margin: 0 auto;
	border-top: 0px;
	border-left: 1px;
	border-right: 1px;
	border-color: #D4D4D4;
	border-style: solid; 
}


#homePage main {
  padding:0px;
}

/*Breadcrumbs - Start*/
#breadCrumbs {
  height:50px;
  width:100%;
  direction:rtl;
  padding-top:17px;
}

#breadCrumbs li{
  display:inline;
}
/*Breadcrumbs - end*/

/*Mobile settings*/
@media (max-width: 699px) {
  
  a:hover {
  text-decoration: none;
}


  #wrapper {
    position: relative;
    width:99%;
    max-width: 699px;
    height:99vh;
    margin: 0 auto;
    z-index: auto;
    border:0px;
  }

  .desktopText { 
    display:none;
  }
}
.clear {
  clear:both;
}