/* Header style settings */
header {
	direction: rtl;
	border: 0px;
	border-bottom: 1px;
	border-color: #D4D4D4;
	border-style: solid; 
}

#headerNav {
	direction: rtl;
	background-color: #000000;
}

#headerNav > ul {
	width:980px;
	margin: 0 auto;
}

#headerNav > ul > li {
	display: inline;
	border:0px; 
	border-left: 1px;
	border-style: solid;
	border-color: #333333;
	padding-left:7px;
	padding-right:7px;
}

#headerNav > ul > li > a {
	color:white;
}

#mobileHeader {
	display:none;
}

#logo {
	float:right;
	display:block;
	width:100px;
	height:117px;
	background-image: url("../assets/logo.png");
}

#titleArea {
	float:right;
	width:69%;
	padding-top:90px;
}

.notLoggedIn #titleArea {
	padding-top:44px;
}


#titleArea h2 {
	margin-right:30px;
	color:#908291;
}

#actionArea {
	float:left;
	width:20%;
	height:117px;
}

#signupLogin {
	width:100%;
	height:42%;
}

#loginLabel {
	display:block;
	padding-top:22px;
	text-align: center;
}

#loginLabel a{
	color:black;
}

#loggedinLabel {
	display:block;
	padding-top:22px;
	text-align: center;
}

.notLoggedIn #loggedinLabel {
	display:none;
}

#loggedinLabel a{
	color:red;
}

#siteSearch {
	width:100%;
	padding-top:14px;
}

#siteSearch input[type=text] {
	margin:0px;
	margin-right:7px;
	border:none;
	width:139px;
	height:27px;
	background-color: #EBEBEB;
}

#siteSearch input[type=submit] {
	display:block;
	float:right;
	border:0px;
	background-image: url("../assets/siteSearchBTN.jpg");
	width:32px;
	height:27px;
	cursor: pointer;
}

/*Mobile settings*/
@media (max-width: 699px) {
	/*homePage mobile settings*/
	#headerNav,#titleArea,#loggedinLabel,#siteSearch,#breadCrumbs {
		display:none;
	}

	#homePage #headerNav > ul {
		display:none;
	}

	#homePage header {
		width:100%;
		height:inherit;
		margin:0px;
		border:0px;
	}

	#homePage #logo {
		width:100%;
		height:79%;
		background-image: url("../assets/logoBig.jpg");
		background-size:contain;
		background-repeat: no-repeat;
		background-position: top center;
		margin: 0px;
		border:0px;

	}

	#homePage #actionArea {
		width:99%;
		height:19%;
	}

	#homePage #signupLogin {
		height:100%;
	}

	#homePage #loginLabel {
		display:block;
		padding:0px;
	}

	#homePage #loginLabel a {
		display:block;
		width:100%;
		height:100%;
		font-size: 40px;
		border: 0px;
		border-top: 1px;
		border-color:black;
		border-style: solid; 
	}
	/*homePage mobile settings*/

	/*mobileHeaderSettings*/
	#mobileHeader {
		display:block;
		height:26px;
	}

	#desktopHeader {
		display:none;
	}

	#mobileHeader #logoMobile{
		display:block;
		width:25px;
		height:26px;
		background-size:contain;
		background-image:url("../assets/logo.png");
		background-repeat: no-repeat;
		float:right;
	}

	label {
		margin:0px;
		padding:0px;
		height:26px;
		padding-top:9px;
		float:right;
	}

	label:first-child {
		border:1px;
		border-color:#A5A5A5;
		border-style:solid;
		width:79px;
		padding-right:9px;
	}









}
/* Mobile settings - end*/

/* Header settings - End */