/* Header style settings */
header {
	direction: rtl;
	border: 0px;
	border-bottom: 1px;
	border-color: #D4D4D4;
	border-style: solid; 
}

#headerNav {
	direction: rtl;
	background-color: #000000;
}

#headerNav > ul {
	width:980px;
	margin: 0 auto;
}

#headerNav > ul > li {
	display: inline;
	border:0px; 
	border-left: 1px;
	border-style: solid;
	border-color: #333333;
	padding-left:7px;
	padding-right:7px;
}

#headerNav > ul > li > a {
	color:white;
}

#logo {
	float:right;
	display:block;
	width:100px;
	height:117px;
	background-image: url("../assets/logo.png");
}

#titleArea {
	float:right;
	width:69%;
	padding-top:90px;
}



#titleArea h2 {
	margin-right:30px;
	color:#908291;
}

#actionArea {
	float:left;
	width:20%;
	height:117px;
}

#signupLogin {
	width:100%;
	height:42%;
}

#loginLabel {
	display:none;
	padding-top:22px;
	text-align: center;
}

#loginLabel a{
	color:black;
}

#loggedinLabel {
	display:block;
	padding-top:22px;
	text-align: center;
}
#loggedinLabel a{
	color:red;
}

#siteSearch {
	width:100%;
	padding-top:14px;
}

#siteSearch input[type=text] {
	margin:0px;
	margin-right:7px;
	border:none;
	width:139px;
	height:27px;
	background-color: #EBEBEB;
}

#siteSearch input[type=submit] {
	display:block;
	float:right;
	border:0px;
	background-image: url("../assets/siteSearchBTN.jpg");
	width:32px;
	height:27px;
	cursor: pointer;
}

/*Mobile settings*/
@media (max-width: 699px) {
	
	#headerNav,#titleArea,#loggedinLabel,#siteSearch {
		display:none;
	}

	#wrapper {
		width:100%;
	}

	#headerNav > ul {
		display:none;
	}

	header {
		width:100%;
		height:100%;
	}

	#logo {
		width:100%;
		background-repeat: no-repeat;
	}

	#loginLabel a {
		width:100%;
	}
}
/* Mobile settings - end*/

/* Header settings - End */