#titleArea {
	padding-top:44px;
}

/*Sidebar*/
#personalSpace {
	background-image:url("../assets/steps/personalSpaceLoggedOut.jpg");
}

/*Main content area settings*/
main {
	position:absolute;
	width:800px;
	height: 700px;
	float:left;
}

#mainImg{
	position: relative;
	margin-top: 55px;
	margin-left: 85px;
	width: 655px;
	height: 300px;
	background-image: url("../assets/mainImg.jpg");
}

p,h3,a { 
	text-decoration: none;
	direction: rtl; 
}

.qAndA {
	color: #00006E;
	font-weight: bold;
	font-size: 18px;
	position: absolute;
	margin-top: 20px;
	margin-left: 510px;
	width: 220px;
	height: 100px;

}
#qAndA {
	position: absolute;
	margin-top: 50px;
	margin-left: 510px;
	width: 220px;
	height: 100px;
}

.blog {
	color: #00006E;
	font-weight: bold;
	font-size: 18px;
	position: absolute;
	margin-top: 20px;
	margin-left: 85px;
	width: 220px;
	height: 100px;
}

#blog {
	position: absolute;
	margin-top: 50px;
	margin-left: 85px;
	width: 220px;
	height: 100px;
}

.video {
	color: #00006E;
	font-weight: bold;
	font-size: 18px;
	position: absolute;
	margin-top: 170px;
	margin-left: 510px;
	width: 220px;
	height: 100px;
}

#video {
	position: absolute;
	margin-top: 200px;
	margin-left: 510px;
	width: 220px;
	height: 100px;
}

.social {
	color: #00006E;
	font-weight: bold;
	font-size: 18px;
	position: absolute;
	margin-top: 170px;
	margin-left: 85px;
	width: 220px;
	height: 100px;
}

#social {
	position: absolute;
	margin-top: 200px;
	margin-left: 85px;
	width: 220px;
	height: 100px;
}

#socialImg{
	position: absolute;
	margin-top: 250px;
	margin-left: 100px;
	width: 188px;
	height: 57px;
	background-image: url("../assets/socialButtons.jpg");
}

#videoImg{
	position: absolute;
	margin-top: 244px;
	margin-left: 520px;
	width: 215px;
	height: 153px;
	background-image: url("../assets/video.jpg");
}
/*Main content area settings - End*/

/*Footer - for debugging only*/
footer {
	width:100%;
	height:2px;
	background-color: #666666;
}
/*Footer end*/


