#titleArea {
	padding-top:44px;
}

/*Sidebar*/
#personalSpace {
	background-image:url("../assets/steps/personalSpaceLoggedOut.jpg");
}

/*Main content area settings*/
main {
	position:relative;
	width:755px;
	float:left;
}

#mainImg{
	margin:0px;
	margin-top: 55px;
	margin-left: 85px;
	margin-bottom:19px;
	width: 655px;
	height: 300px;
	background-image: url("../assets/mainImg.jpg");
}

#articles{
	position:relative;
}

.column {
	width:50%;
	float:right;
	direction: rtl;
}

p,h3,a { 
	width:200px;
	text-decoration: none;
	direction: rtl; 
}

.articleTitle {
	color: #00006E;
	font-weight: bold;
	font-size: 18px;
	width: 220px;
	height: 100px;
}

.articleTitle:before {
	content:url("../assets/rss.png");
}

article {
	padding-right: 20px;
	margin-bottom: 48px;
}

#socialImg{
	width: 188px;
	height: 57px;
	background-image: url("../assets/socialButtons.jpg");
}

#videoImg{
	width: 215px;
	height: 153px;
	background-image: url("../assets/video.jpg");
}
/*Main content area settings - End*/

/*Footer - for debugging only*/
footer {
	width:100%;
	height:2px;
	background-color: #666666;
}
/*Footer end*/

@media (max-width: 699px) {
	
	#headerNav,#titleArea,#loggedInLabel,#siteSearch,#breadCrumbs,#mainFlowNav,footer,#wrapper {
		display:none;
	}
}
