/* Global settings */
* {
	margin:0px;
	padding:0px;
}

main, nav, header, section,div,aside {
	display:block;
}

ul {
	text-decoration: none;
	list-style-type: none;
}

a {
	text-decoration: none;
	color:#000000;
}

a:hover {
	text-decoration: underline;
}
a:visited{
	color:#000000;
}

#wrapper {
	width: 980px;
	margin: 0 auto;
	border-top: 0px;
	border-left: 1px;
	border-right: 1px;
	border-color: #D4D4D4;
	border-style: solid; 
}

/* Header style settings */
header {
	direction: rtl;
	border: 0px;
	border-bottom: 1px;
	border-color: #D4D4D4;
	border-style: solid; 
}

#headerNav {
	direction: rtl;
	background-color: #000000;
}

#headerNav > ul {
	width:980px;
	margin: 0 auto;
}

#headerNav > ul > li {
	display: inline;
	border:0px; 
	border-left: 1px;
	border-style: solid;
	border-color: #333333;
	padding-left:7px;
	padding-right:7px;
}

#headerNav > ul > li > a {
	color:white;
}

#logo {
	float:right;
	display:block;
	width:100px;
	height:117px;
	background-image: url("../assets/logo.png");
}

#titleArea {
	float:right;
	width:69%;
	padding-top:90px;
}

#titleArea h2 {
	margin-right:30px;
	color:#908291;
}

#actionArea {
	float:left;
	width:20%;
	height:117px;
}

#signupLogin {
	width:100%;
	height:42%;
}

#signupLogin label {
	display:block;
	padding-top:22px;
	text-align: center;
}

#signupLogin label a {
	color:#FE0000;
}

#siteSearch {
	width:100%;
	padding-top:14px;
}

#siteSearch input[type=search] {
	margin:0px;
	margin-right:7px;
	border:none;
	width:139px;
	height:27px;
	background-color: #EBEBEB;
}

#siteSearch input[type=submit] {
	display:block;
	float:right;
	border:0px;
	background-image: url("../assets/siteSearchBTN.jpg");
	width:32px;
	height:27px;
	cursor: pointer;
}
/* Header settings - End */

/*Breadcrumbs - Start*/
#breadCrumbs {
	height:50px;
	width:100%;
	direction:rtl;
	padding-top:17px;
}

#breadCrumbs li{
	display:inline;
}
/*Breadcrumbs - end*/

/*Main sidebar settings*/
#mainFlowNav {
	width:185px;
	float:right;
	padding-top: 35px;
}

#startProgressHint {
	display:none;
	text-align: center;
}

#startProgressHint a{
	color:black;
	font-weight: bold;
}

.mainFlowNavContainer {
	margin-bottom: 8px;
	padding-right: 16px;
	padding-left: 30px;
	direction:rtl;
}

.mainFlowNavContainer label {
	display: block;
	text-align: center;
}

#selectedStep {
	border: 1px;
	border-style: solid;
	border-color:#000000;
}
.mainFlowNavBox {
	display:block;
	width: 139px;
	height: 139px;
	margin-bottom: 6px;
}
/*Main sidebar settings - End*/

/*Main content area settings*/
main {
	position:relative;
	width:755px;
	float:left;
	padding: 20px;
}

#tabBar ul{
	list-style:none;
	height:29px;
	padding:0;  
	margin:0;  
}

#tabBar ul li {
	float:right;
	border:1px solid #000000;
	border-bottom: none;
	padding:5px;

	/* CSS 3 elements */ 
	-webkit-border-top-right-radius:0.50em; 
	-webkit-border-top-left-radius:0.50em; 
	-moz-border-radius-topright:0.50em; 
	-moz-border-radius-topleft:0.50em; 
	border-top-right-radius:0.50em; 
	border-top-left-radius:0.50em; 
}

#selectedTab {
	background-color: #B7B1B1;
}

#content {
	direction:rtl;
	border:1px solid #000000; 
	padding-right:10px;
}

#content form {
	margin:5px;
}

#searchForm input[type=submit] {
	margin-right: 5px;
}

#filterForm select:first-of-type {
	margin-right: 38px;
}

#filterForm input[type=number] {
	width:38px;
}

#filterForm input[type=number]:first-of-type {
	margin-right:37px;
}

#filterForm input[type=checkbox] {
	width:18px;
	height:18px;
	border: 1px;
	border-style:solid;
	border-color:#000000;
}

#filterForm input[type=checkbox]:checked {
	border:2px;
}


#filterForm input[type=submit] {
	width:29px;
	margin-right:223px;
}

#filterForm {
	margin-bottom: 10px;
}

.table-fill {
  	background: white;
  	border-radius:3px;
  	border-collapse: collapse;
  	margin: auto;
  	max-width: 600px;
  	padding:5px;
  	width: 100%;
  	box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
  	animation: float 5s infinite;
}
 
th {
	direction:rtl;
	color:#D5DDE5;;
	background:#1b1e24;
	border-bottom:4px solid #9ea7af;
	border-right: 1px solid #343a45;
	font-size:15px;
	font-weight: 100;
	padding:5px;
	text-align:center;
	text-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
	vertical-align:middle;
}

th:last-child {
	border-top-left-radius:3px;
}
 
th:first-child {
  	border-top-right-radius:3px;
  	border-right:0px;
}
  
tr {
  	border-top: 1px solid #C1C3D1;
  	border-bottom-: 1px solid #C1C3D1;
  	color:#666B85;
  	font-size:15px;
  	font-weight:normal;
  	text-shadow: 0 1px 1px rgba(256, 256, 256, 0.1);
}
 
tr:hover td {
  background:#4E5066;
  color:#FFFFFF;
  border-top: 1px solid #22262e;
  border-bottom: 1px solid #22262e;
}
 
tr:first-child {
  border-top:none;
}

tr:last-child {
  border-bottom:none;
}
 
tr:nth-child(odd) td {
  background:#EBEBEB;
}
 
tr:nth-child(odd):hover td {
  background:#4E5066;
}

tr:last-child td:last-child {
  border-bottom-left-radius:3px;
}
 
tr:last-child td:first-child {
  border-bottom-right-radius:3px;
}
 
td {
  background:#FFFFFF;
  padding:5px;
  text-align:center;
  vertical-align:middle;
  font-weight:300;
  font-size:15px;
  text-shadow: -1px -1px 1px rgba(0, 0, 0, 0.1);
  border-right: 1px solid #C1C3D1;
}

td:first-child {
  border-right: 0px;
}


/*Main content area settings - End*/

/*Footer - for debugging only*/
footer {
	width:100%;
	height:2px;
	background-color: #666666;
}
/*Footer end*/


.clear {
	clear:both;
}


